{% include base_path %}

<li>
  <h3 class="archive__item-title" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ post.title }}</a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    {% endif %}
  </h3>

  {% if post.author %}
    <p><em>{{ post.author }}</em></p>
  {% endif %}

  {% if post.venue %}
    <p><strong>{{ post.venue }}</strong></p>
  {% endif %}

  {% if post.excerpt %}
    <details>
      <summary><span style="color: inherit;">Abstract (click to expand)</span></summary>
      <p>{{ post.content | markdownify }}</p>
    </details>
  {% endif %}
</li>
